<ion-header>
  <ion-navbar color="zielony">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{data?.wll}} T {{data?.l1}} m <small>{{data?.id}}</small></ion-title>
    <!--<ion-buttons >
      <button ion-button (click)="usunPoz(data?.$key)"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header><b>Szczegóły pozycji</b></ion-card-header>
    <ion-card-content>
      <small>Tolerancja min: <b>{{min}}</b> max:<b> {{max}}</b></small>
      <p>Tonaż: <b>{{data?.wll}}</b></p>
      <p>Długość: <b>{{data?.l1}}</b></p>
      <p>licznik: <b>{{data?.m}}</b></p>
      <p>licz oblic <b>{{licz}}</b> </p>
      <p>Nici: <b>{{data?.nici}}</b></p>
      <!--<p>auf: <b>{{data?.auf}}</b></p>-->
      <p>Zlecenie: <b>{{aufFormat}}</b></p>
      <p>Ilosc: <b>{{data?.ilosc}}</b></p>
      <p *ngIf="data?.date">Dodano: <b>{{data?.date | date:"HH:mm     dd.MM.yy"}}</b></p>
      <!--blad wyskakuje przy usuwaniu data timestamp-->
      <p *ngIf="data?.timestamp">Dodano: <b>{{data?.timestamp | date:"HH:mm  dd.MM.yy"}}</b></p>
      <p *ngIf="data?.dateUpdate">Zmodyf: <b>{{data?.dateUpdate | date:"HH:mm     dd.MM.yy"}}</b></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data?.note">
    <ion-card-header><b>Notatka</b></ion-card-header>
    <ion-card-content>
      {{data?.note}}
    </ion-card-content>
  </ion-card>
  <button ion-button color="danger" (click)="usunPoz(keyS)">Usun</button>
  <button *ngIf="!data?.idN" ion-button color="primary" (click)="addNaddDetail(keyS, data)">Dodaj naddatek</button>
  <button ion-button color="primary" (click)="addNote(keyS, data)">Dodaj notatke</button>

  <ion-list>
    <ion-item>
      // Todo Jeżeli jest naddatek dodany w tej pozycji to pokazać
      <p *ngIf="data?.idN">idN: <b>{{data?.idN}}</b></p>
      <p *ngIf="dataND?.naddatek">dataND?.naddatek: <b>{{dataND?.naddatek}}</b></p>
    </ion-item>
  </ion-list>

</ion-content>
